body {
    font-family: 'Verdana', serif;
    letter-spacing: 0.05em;

    padding-left: 10px;
}

table {
    margin-top: 10px;
    border-collapse: collapse;
}

thead {
    font-weight: bold;
}

td {
    padding: 5px 10px;
}

span {
    padding-right: 5px;
}

ul {
    padding: 0;
}

.nav > li {
    display: inline-block;

    padding-right: 10px;
}

.message {
    padding-bottom: 10px;
    color: #b22222;
}

.loggedInAs {
    padding: 5px;
    color: #fff;
    background-color: #17d136;
}